<!DOCTYPE html>
<html>
	
<head>
	<title>LED Control</title>
	<meta charset = "utf-8"/>
	<style type="text/css">
		body {
			color:#333;
			background-color:#eee;
			font-family:Arial;
			font-size:14px;
		}
		#banner, #wrapper {
			width:900px;
			background-color:teal;
			color:white;
			text-align:center;
			margin-left:auto;
			margin-right:auto;
			margin-bottom:0;
			padding:15px;
			border-left:solid 1px silver;
			border-right:solid 1px silver;
		}
		#wrapper {
			background-color:white;
			color:#333;			
		}
		table {
			width:10em;
			margin-left:auto;
			margin-right:auto;
			margin-top:15px;
		}
		td {
			border: 1px solid silver;
			width:1em;
			height:.8em;
		}
		.pixel {
			background-color:white;
		}

	</style>
	
	<script>
		window.onload = function(){
			gridTable = document.getElementById("gridTable");
			var count = 0;
			for(var i=0;i<64;++i){ // create 8x8 table
				if(count == i){
					count+=8;
					var newRow = document.createElement("tr"); // eight rows
					gridTable.appendChild(newRow);
				}
				var newData = document.createElement("td"); // with 8 columns per row
				newData.className = 'pixel';
				newData.id = i;
				newRow.appendChild(newData);
			}			
			theColor = document.getElementById("ledColor");		//The element associated with the color drop down menu
			matrix = document.getElementsByClassName("pixel");  // matrix holds 64 elements, one for each table data item (td).
			
			for(var i=0;i<64;++i){
				matrix[i].onclick = function(){ // register 64 onclick handlers for table data items (the 8x8 grid)
					this.style.background = ((this.style.background == "") || (this.style.background=="white")) ? theColor.value : "white";
					x=this.id % 8;
					y=Math.floor(this.id/8);
					
					var url = '/?x='+x+'&y='+y+'&theColor='+theColor.value; // Add x, y, and theColor values to the url
					fetch(url).then(function(res){}); //Send x, y, and theColor selected to the server, ledMatrix.js, for processing
				}
			}
		}
		function clearLed(){
			for (var i=0; i<64; ++i){
				matrix[i].style.background = "white";
			}
			fetch('/'); // Calls server to clear the sense hat Led. This is cool because it doesn't need to reload the page.
		}			
	</script>
</head>
<body>
	<h1 id="banner">LED Control</h1>
	<div id="wrapper">
		<form id = "form1" action="" method="post">
			<select id = "ledColor" name="color">
				<option value = "red">Red</option>
				<option value="green">Green</option>
				<option value = "blue">Blue</option>
				<option value = "yellow">Yellow</option>
				<option value = "purple">Purple</option>
				<option value = "aqua">Aqua</option>
			</select>
		
			<table id="gridTable">			
			</table>
		</form>
		<input style="margin-top:20px;margin-bottom:10px;" type="button" value="Clear" onclick = clearLed(); >
	</div>
</body>	
</html>
